USE [QLCuaHangCafe]
GO
/****** Object:  Table [dbo].[tbChiTietHoaDonBan]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietHoaDonBan](
	[MaHoaDon] [nvarchar](14) NOT NULL,
	[MaSanPham] [nvarchar](6) NOT NULL,
	[GiaBan] [money] NULL,
	[GiamGia] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHoaDonBan]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonBan](
	[MaHoaDon] [nvarchar](14) NOT NULL,
	[NgayBan] [date] NULL,
	[TongTien] [money] NULL,
	[SDTKhachHang] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[SDTKhachHang] [nvarchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SDTKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNhomSanPham]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhomSanPham](
	[MaNhomSP] [nvarchar](2) NOT NULL,
	[TenNhomSP] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPhanHoi]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhanHoi](
	[MaPhanHoi] [nvarchar](6) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbQuanTriVien]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQuanTriVien](
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSanPham]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSanPham](
	[MaSanPham] [nvarchar](6) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[GiaBan] [money] NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaNhomSP] [nvarchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTinTuc]    Script Date: 01/05/2023 06:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTinTuc](
	[MaTinTuc] [nvarchar](10) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NgayDang] [date] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'202304260001', N'CF01', 39000.0000, NULL, 2, 78000.0000)
INSERT [dbo].[tbChiTietHoaDonBan] ([MaHoaDon], [MaSanPham], [GiaBan], [GiamGia], [SoLuong], [ThanhTien]) VALUES (N'202304260001', N'CF02', 39000.0000, NULL, 2, 78000.0000)
GO
INSERT [dbo].[tbHoaDonBan] ([MaHoaDon], [NgayBan], [TongTien], [SDTKhachHang]) VALUES (N'202304260001', CAST(N'2023-04-26' AS Date), 156000.0000, N'0362523516')
GO
INSERT [dbo].[tbKhachHang] ([SDTKhachHang], [TenKhachHang], [DiaChi]) VALUES (N'0362523516', N'Nguyễn Đình Quý', N'Hà Nội')
GO
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (N'CF', N'Cà phê')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (N'KH', N'Các loại đồ uống khác')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (N'NE', N'Nước ép/Sinh tố')
GO
INSERT [dbo].[tbPhanHoi] ([MaPhanHoi], [TieuDe], [SoDienThoai], [NoiDung]) VALUES (N'001', N'Xin chào', N'1324123', N'Đây là phản hồi đầu tiên')
INSERT [dbo].[tbPhanHoi] ([MaPhanHoi], [TieuDe], [SoDienThoai], [NoiDung]) VALUES (N'002', N'Xin chào', N'1324123', N'Xin chào')
GO
INSERT [dbo].[tbQuanTriVien] ([TenNguoiDung], [MatKhau]) VALUES (N'admin', N'admin')
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[tbHoaDonBan] ([MaHoaDon])
GO
ALTER TABLE [dbo].[tbChiTietHoaDonBan]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbHoaDonBan]  WITH CHECK ADD FOREIGN KEY([SDTKhachHang])
REFERENCES [dbo].[tbKhachHang] ([SDTKhachHang])
GO
ALTER TABLE [dbo].[tbSanPham]  WITH CHECK ADD FOREIGN KEY([MaNhomSP])
REFERENCES [dbo].[tbNhomSanPham] ([MaNhomSP])
GO
ALTER TABLE [dbo].[tbTinTuc]  WITH CHECK ADD FOREIGN KEY([TenNguoiDung])
REFERENCES [dbo].[tbQuanTriVien] ([TenNguoiDung])
GO
