<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a a asp-controller="Home" asp-action="Index"><i class="fas fa-coffee"></i> The Space Coffee</a>
                    </div>
                    <p>Đây là một nơi ấm cúng, là nơi mà mọi người đến để gặp gỡ, chia sẻ về cà phê, bánh ngọt và các bữa ăn nhẹ.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__widget">
                    <h6>Các liên kết nhanh</h6>
                    <ul>
                        <li><a asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
                        <li><a asp-controller="News" asp-action="Index">Tin tức</a></li>
                        <li><a asp-controller="About" asp-action="Index">Về chúng tôi</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Thông tin liên hệ</h6>
                    <div class="footer__contact">
                        <a href="https://goo.gl/maps/C9CBNUSC87rsSKDQ9" target="_blank"><i class="fas fa-location-arrow"></i> Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội</a>
                        <a href="tel:(84.24) 37663311"><i class="fas fa-phone"></i>  (84.24) 37663311</a>
                        <a href="mailto:dhgtvt@utc.edu.vn"><i class="fas fa-envelope"></i> dhgtvt@utc.edu.vn</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="footer__newslatter">
                    <h6>Theo dõi chúng tôi</h6>
                    <div class="footer__social">
                        <a href="https://www.facebook.com/dhgtvtcaugiay" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/coffee/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.twitter.com" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Bản quyền &copy; <script>document.write(new Date().getFullYear());</script>. Mọi quyền bảo lưu</p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
