<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Space Coffee">
    <meta name="keywords" content="coffee, cafe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | THE SPACE COFFEE</title>
    <link rel="shortcut icon" href="~/favicon.ico"/>

    @await Html.PartialAsync("_PartialCSS")
</head>
<body>
    <!--Page Preloder-->
    @await Html.PartialAsync("_PartialPreloader")

    <!--Header Section Begin-->
    @await Html.PartialAsync("_PartialHeader")
    <!--Header Section End-->

    <!--Main Body Begin-->
    @RenderBody()
    <!--Main Body End-->

    <!--Instagram Begin-->
    @await Html.PartialAsync("_PartialInstagram")
    <!--Instagram End-->

    <!--Footer Section Begin-->
    @await Html.PartialAsync("_PartialFooter")
    <!--Footer Section End-->

    <!--Search Begin-->
    @await Html.PartialAsync("_PartialSearchBox")
    <!--Search End-->

    <!--Back to top Begin-->
    @await Html.PartialAsync("_PartialBackToTop")
    <!--Back to top End-->

    <!--JavaScript Begin-->
    @await Html.PartialAsync("_PartialJavaScript")
    <!--JavaScript End-->
</body>
</html>
