
@{
    ViewData["Title"] = "Tin tức";
    ViewData["News"] = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TbTinTuc>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                    <span>Tin tức</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-lg-4">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg=@Url.Content("../img/news/" + item.HinhAnh)></div>
                        <div class="blog__item__text">
                            <ul>
                                <li>@item.NgayDang.Value.ToString("dd/MM/yyyy")</li>
                            </ul>
                            <h6>
                                <a
                                    asp-controller="news"
                                    asp-action="details"
                                    asp-route-maTinTuc="@item.MaTinTuc">
                                    @item.TieuDe</a>
                                </h6>
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-12 text-center">
                @Html.PagedListPager(Model,page=>Url.Action("Index", new {
                    page = page,
                    target = ViewBag.target,
                    targetname = ViewBag.targetname
                }),
                new PagedListRenderOptions() {
                    MaximumPageNumbersToDisplay = 5,
                    PageClasses = new List<String> {"pagination__option"},
                    UlElementClasses = new List<String> {"pagination pagination__center"},
                    LiElementClasses = new List<String> {"pagination__option pagination__margin"},
                    ActiveLiElementClass = "pagination__active",
                })
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
