@model Web_CuaHangCafe.Models.TbPhanHoi

@{
    ViewData["Title"] = "Index";
    ViewData["Contact"] = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb Begin-->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-controller="home" asp-action="index">
                        <i class="fa-solid fa-house"></i>
                        Trang chủ
                    </a>
                    <span>Liên hệ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

<!--Contact Section Begin-->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>Thông tin liên hệ</h5>
                        <ul>
                            <li>
                                <h6>
                                    <i class="fa-solid fa-location-arrow"></i>
                                    Địa chỉ
                                </h6>
                                <p>Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội</p>
                            </li>
                            <li>
                                <h6>
                                    <i class="fa-solid fa-phone"></i>
                                    Điện thoại
                                </h6>
                                <p><span>(84.24) 37663311</span></p>
                            </li>
                            <li>
                                <h6>
                                    <i class="fa-solid fa-envelope"></i>
                                    Hỗ trợ
                                </h6>
                                <p>dhgtvt@utc.edu.vn</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5>Gửi lời nhắn</h5>
                        <p class="@TempData["Status"]">@TempData["Message"]</p>
                        <form asp-action="index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input
                                asp-for="TieuDe"
                                type="text"
                                class="form-control"
                                maxlength="50"
                                placeholder="Tiêu đề"
                                autocomplete="off"
                                required />
                            <input
                                asp-for="SoDienThoai"
                                type="tel"
                                class="form-control"
                                maxlength="10"
                                placeholder="Số điện thoại"
                                autocomplete="off"
                                required />
                            <textarea
                                asp-for="NoiDung"
                                class="form-control"
                                placeholder="Lời nhắn"
                                required>
                            </textarea>
                            <button type="submit" value="Create" class="site-btn">Gửi lời nhắn</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.113115942687!2d105.80084557594043!3d21.02815948779785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBHaWFvIFRow7RuZyBW4bqtbiBU4bqjaQ!5e0!3m2!1svi!2s!4v1682392298095!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact Section End-->
