@{
    Layout = null;
}

@model TbQuanTriVien

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập | Trang quản trị THE SPACE COFFEE</title>
    <link rel="shortcut icon" href="~/favicon.ico" />

    <!--Font-->
    <link rel="stylesheet" type="text/css" href="~/css/style-font.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" type="text/css">

    <!--Font Awesome-->
    <link rel="stylesheet" href="~/css/fontawesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/brands.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/regular.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/solid.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/svg-with-js.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/v4-font-face.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/v4-shims.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/v5-font-face.min.css" type="text/css">

    <!--JQuery-->
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.theme.green.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">

    <!--CSS-->
    <link rel="stylesheet" href="~/css/style-admin.css" type="text/css">
    <link rel="stylesheet" href="~/css/style-admin-additional.css" type="text/css">
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <a
                                    asp-controller="home"
                                    asp-action="index"
                                    class="admin__logo"
                                    title="Thoát khỏi trang quản trị">
                                        <i class="fa-solid fa-mug-saucer"></i>
                                        The Space Coffee
                                </a>
                            </div>
                            <h6>Đăng nhập để tiếp tục</h6>
                            <h6 class="font-weight-light"></h6>
                            @using (Html.BeginForm("Login", "Access", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.TenNguoiDung, new{@class="form-control form-control-lg", type="text", placeholder="Tên đăng nhập", required="required", autofocus="autofocus", autocomplete="off"})
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.MatKhau, new{@class="form-control form-control-lg", type="password", placeholder="Mật khẩu", required="required", autofocus="autofocus"})
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Đăng nhập</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--JS Begin-->
    <script src="~/lib/jquery/dist/jquery-3.7.1.min.js"></script>

    <!--Bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--Font Awesome-->
    <script src="~/js/fontawesome.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/brands.min.js"></script>
    <script src="~/js/conflict-detection.min.js"></script>
    <script src="~/js/regular.min.js"></script>
    <script src="~/js/solid.min.js"></script>
    <script src="~/js/v4-shims.min.js"></script>

    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <!--JS End-->
</body>
</html>
